/* web site FBFT by zenZero 2025 */
/*
/* B.O. - https://www.youtube.com/watch?v=AtPK8m2Rz2Q&list=PLsp-oA7mDdVFFQHnbN3RQ-DRpS12bRPXh&index=18
/*
/*********************************/




/*****************************/
/*color setting */
:root {
	--t-white		: #fff;
	--white			: #ddd;
	--light-grey	: #aaa;
	--grey			: #999;
	--dark-grey		: #555;
	--black			: #111;
	--green			: #1a1;
	--light-green	: #4d4;
	
	--t-white		: #fff;
	--dscr-bleu		: #5865f2;
	--yt-red		: #f00;
}

/*****************************/
/*font loading */
@font-face {
    font-family: "minecraftia";
    src: url("../Fonts/Minecraftia-Regular.ttf");
}




/******************************/
/*reset */
* {
	margin : 0;
	padding : 0;
}


/*main style*/
body {
	
/*background*/
	background-color : var(--black);
	
	background-image : linear-gradient(to bottom, rgba(1, 1, 1, 0) , rgba(1, 1, 1, 1) 10%),
					   url("../Images/chaos_00.png");
	background-position : top center;



/* font and text base */
	color :var(--light-grey);
	
	font-family:minecraftia, Lucida Console, monospace;
	font-size : 20px;
	text-align : center;
	
}

a {
	color : var(--green);
	text-decoration : none;
}
a:hover {
	color : var(--light-green);
	text-decoration : underline;
}

b {
	color : var(--white);
	font-size: 110%;
}

h1 {
	color : var(--white);
	font-size : 250%;
}
h2 {
	color : var(--white);
	font-size : 200%;
}
h3 {
	font-size : 200%;
}

hr {
	margin : 50px 0;
}

footer {
	height: 60px;
	background-color : #111;
	background-image : linear-gradient(to top, rgba(1, 1, 1, 0) , rgba(1, 1, 1, 1) ),
					   url("../Images/bedrock.png");
					   
	font-size : 50%;
	display: flex;
	align-items: flex-end;
	justify-content: center ;
}
footer p {

}

/******************************/
/*LINK BUTTONS */
.button {
	position : relative;
	
	background-color : var(--green);
	color : var(--t-white);
	
	display : inline-block;
	border-radius : 4px 4px 6px 6px;
	border-bottom : solid 5px rgba(85, 85, 85, 0.6);
	padding : 10px 10px 0px 10px;
	
	text-shadow : 0px 0px 5px #111;
	font-weight : bold;
	text-decoration : none;
	text-align : center;
}
.button span {
	position : absolute;
	top : -20%;
	right : -8%;
	rotate : -20deg;
	display : inline-block;
	
	text-shadow : 0px 0px 5px #111;
	font-size : 90%;
	
}
.button:hover {
	color : var(--t-white);
	text-decoration : none;
	text-shadow :none;
	box-shadow : inset 0px 0px 4px #ccc;
}

.discord {
	background-color : #5865f2;
	color :var(--t-white);
}

.youtube {
	background-color : #f00;
	color : var(--t-white);
}


/******************************/
/* HEADER */
header {
	/* margin-bottom : 30px; */
}
header a {
	position : relative;
}
#logo-container {
 max-width : 1000px;
 margin : 0px auto;
}

#logo-container img {
	width : 100%;
	height : 100%;
}



/* youtube embed */
.yt-container {
	text-align : center;
	
}
.yt-embed {
	padding : 1%;
	max-width : 1100px;
	width: 90%;
	aspect-ratio: 16 / 9;
}


/******************************/
/* event box */
#event {
	display : none;
	margin : 2% auto;
	padding : 10px;
	max-width : 1400px;
	width: 90%;
	background-color : #1a1; 
}

/******************************/
/* Section Display*/
.row {
	margin : 80px 10% 0px 10%;
	/* border-top : 1px solid #555; */
}
/* columns */
.column {
	float : left;
	/* width : 33.33%; */
	box-sizing : border-box;
	margin : 30px 0 ;
	border : solid 0px #aaa;
	border-left-width : 1px;
}

.column:first-child {
	border-left-width : 0px;
}

.c32:first-child {
width : 60%;
font-size : 100%;
}

.c32 {
	width :30%;
	font-size : 80%;
}
.c3 {
	width : 33.33%;
}
.c2 {
	width : 50%;
}

.column p {
	margin : 20px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
} 
/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
	.column {
		width: 100%;
		border-left-width : 0px;
	}
} 